{{page-title "Landingpage"}}

{{outlet}}

{{! The following component displays Ember's default welcome message. }}
<h1 style="accent-color: #ff2f56; font-family: 'Berlin Sans FB Demi'">Hello Word!</h1>
{{! Feel free to remove this! }}